.page-conteneur {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;
}

.page-contenu {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: hidden;
}


.zone-contenu-details-devis {
    flex: 1;
    padding: 24px 32px;
    height: 100%;
    display: flex;
    gap: 25px;
    overflow: hidden;
}


.details-devis-gauche {
    width: 50%;
    height: 100%;
    background-color: #F5F5F5;
    position: sticky;
    top: 24px;

}


.details-devis-droite {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;

    height: 100%;
    overflow-y: auto;
    padding-right: 10px;
}

.details-devis-droite-client {
    display: flex;
    flex-direction: column;
}



/* --------------- TITRES SECTIONS --------------- */
/* Section statut */
.titre-section-statut {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.titre-section-statut h2 {
    font-size: 20px;
    font-weight: 600;
    color: #141414;
    margin-bottom: 1%;
}


/* Section Client */
.titre-section-client {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.titre-section-client h2 {
    font-size: 20px;
    font-weight: 600;
    color: #141414;
    margin-bottom: 1%;
}


/* Section Devis */
.titre-section-devis {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.titre-section-devis h2 {
    font-size: 20px;
    font-weight: 600;
    color: #141414;
    margin-bottom: 1%;
}


/* Section Historique */
.titre-section-historique {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.titre-section-historique h2 {
    font-size: 20px;
    font-weight: 600;
    color: #141414;
    margin-bottom: 1%;
}

/* ----------------------------------------------- */

.details-devis-droite-statut {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.details-devis-droite-client {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.details-devis-droite-devis {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.details-devis-droite-historique {
    display: flex;
    flex-direction: column;
    gap: 21px;
}



.ligne-1 {
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.ligne-2 {
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.ligne-3 {
    display: flex;
    flex-direction: row;
    gap: 21px;
}