:root {
    /* Couleurs */
    --Principal: #141414;
    --Secondaire: #B5B5B5;
    --Blanc: #fff;
    --Couleur-fond: #f5f5f5;
    --Hover: #fafafa; 
    --Hover-bouton : #1f2937;
    --text-secondaire : #717171;
    --Separateur : #1F1F1F;
    --Border-input : #d0d0d0;


    /* BADGE - EN ATTENTE */
    --badge-en-attente-background : #EEF4FA;
    --badge-en-attente-text : #1F2A37;

    /* BADGE - ANNULÉ */
    --badge-annule-background : #F6E1E1;
    --badge-annule-text : #3A1F1F;

    /* BADGE - PAYÉ */
    --badge-paye-background : #EAF5EA;
    --badge-paye-text : #1F3A2E;



    /* Typographie */
    --font: 'Inter', system-ui, sans-serif;

    --font-size-base: 2vh;
    --font-size-h1: 4vh;      
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 