.contenu-entreprise {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.derniere-modification-entreprise {
    color: #64748B;
    font-size: 14px;
    font-weight: 400;
}

.derniere-modification-entreprise span {
    color: #141414;
    font-size: 14px;
    font-weight: 400;
}

.zone-identite-entreprise {
    display: flex;
    flex-direction: column;
}

.titre-section-entreprise {
    font-size: 30px;
    font-weight: 600;
    color: #141414;
    margin-bottom: 1%;
}


.input-information-entreprise {
    display: flex;
    flex-direction: row;
    /* Pour le retour à la ligne en cas de dépassement */
    flex-wrap: wrap;
    gap: 21px;
    overflow: hidden;
}

.input-information-legale-1 {
    display: flex;
    flex-direction: row;
    gap: 21px;
    /* Pour le retour à la ligne en cas de dépassement */
    flex-wrap: wrap;
}

.input-information-legale-2 {
    display: flex;
    flex-direction: row;
    /* Pour le retour à la ligne en cas de dépassement */
    flex-wrap: wrap;
    gap: 21px;
    overflow: hidden;
}