.zone-contenu {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* ----- Ligne 1 ----- */
.ligne-1-nouveau-client {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
}

/* ----- Ligne 2 ----- */
.ligne-2-nouveau-client {
    width: 47.5%;
}


.ligne-1-contenu-gauche {
    width: 50%;
    /* background-color: red; */
}

.ligne-1-contenu-droite {
    width: 50%;
    /* background-color: blue; */
}



.input-information-client {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 21px;
    overflow: hidden;
    width: 100%;
}

.input-information-contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 21px;
    overflow: hidden;
    width: 100%;
}


.client-ligne-1 {
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.client-ligne-2 {
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.client-ligne-3 {
    display: flex;
    flex-direction: row;
    gap: 21px;
}







/* Titres des sections */
.titre-section-nouveau-client {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 2vh;
    color: #717171;
}

.titre-section-nouveau-client h2 {
    font-size: 20px;
    font-weight: 600;
    color: #141414;
    margin-bottom: 0;
}