@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Orbitron:wght@400..900&family=Orelega+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.connexion-page {
    /* Pleine hauteur */
    height: 100vh; 
    display: flex;


}

.Partie-gauche, .Partie-droite {
    flex: 1;                        /* chaque colonne prend 50% */
    display: flex;
    flex-direction: column;
    justify-content: center;         /* centrer verticalement */
    align-items: center;             /* centrer horizontalement */
    padding: 40px;
}

/* Partie gauche */
.Partie-gauche {
    background-color: white;
}

.Contenu {
    /* background-color: #e0e0e0;    */
    /* margin-left: 50px; */
    margin-top: 60px;
    margin-bottom: 60px;
    /* max-width: 80%; */
    width: 50%;
    height: 100%;

    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Logo */
.logo {
    margin-bottom: 40px;
    font-weight: regular;
    font-size: 28px;
}

.header-text h1 {
    margin-bottom: 15px;
    font-family: 'Orelega One', sans-serif;
    font-size: 40px;
    font-weight: 400; /* regular */
}

.header-texte .sous-titre {
    margin-top: 0;
    font-family: 'Orelega One', sans-serif;
    font-size: 18px;
    font-weight: 400; /* regular */
}



/* Sous titre */
.sous-titre {
    margin-top: 0;
    font-size: 18px;
    color: #9d9d9d;
    margin-bottom: 25px;
}


/* Inputs */
.input-group {
    margin-bottom: 25px;
}

.input-group label {
    font-size: 16px;
    color: #9d9d9d;
}

.input-group input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #9d9d9d;
    padding: 8px 0;
    font-size: 14px;
}

.input-group input:focus {
    outline: none;
    border-bottom: 1px solid black;
}



/* ----------- Actions ------------ */
.actions {
    margin-top: 0px;
}


/* Bouton */
button {
    width: 100%;
    height: 45px;
    margin-top: 20px;
    padding: 12px;
    background: #141414;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.actions .link {
    margin-top: 20px;
}

/* Mot de passe oublié */
.link {
    text-align: center;
    font-size: 14px;
    margin-top: 0px;
    color: #333;
    cursor: pointer;
}
/* -------------------------------- */

/* Signup */
.signup {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    color: #333;
}

/* Signup bouton */
.signup span {
    font-weight: bold;
    cursor: pointer;
}




/* Partie droite */
.Partie-droite {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #c4c4c4; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}