* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inscription-page {
    display: flex;
    /* Pleine hauteur */
    height: 100vh; 

}

.Partie-gauche, .Partie-droite {
    flex: 1;                        /* chaque colonne prend 50% */
    display: flex;
    flex-direction: column;
    justify-content: center;         /* centrer verticalement */
    align-items: center;             /* centrer horizontalement */
    padding: 40px;
}

/* Colonne gauche */
.Partie-gauche {
    background-color: white;
}

.Contenu {
    background-color: #e0e0e0;   
    margin-left: 50px;
    max-width: 80%;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-align: left;

}

/* Colonne droite */
.Partie-droite {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #c4c4c4; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}