.factures-emises-card {
    width: 100%;
    height: 25vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}


/* HAUT */
.factures-emises-card__top {
    position: relative;
    width: 100%;
    height: 70%;
    padding-left: 10%;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #F5F5F5;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
}

/* Icon */
.factures-emises-card__icon {
    width: 45px;
    height: 45px;
    color: var(--Principal);
}

/* LABEL */
.factures-emises-card__label {
    color: var(--Secondaire);
    font-size: 13px;
    font-weight: 400;
}

/* COUNT */
.factures-emises-card__count {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-top: 4px;
}



/* BAS */
.factures-emises-card__bottom {
    width: 100%;
    height: 25%;
    background-color: #FFF9E6;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* AMOUNT */
.factures-emises-card__amount {
    font-size: 18px;
    font-weight: 600;
    color: #5a4a2c;
}